@import "../-General/Styles/variables.scss";

.md-radio-button {
    height: $general-control-height;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;

    &:focus{
        outline: none;
        box-shadow: 0 0 2px 0 $general-border-color;
        border-radius: $general-border-radius;
    }

    .radio-button-container {
        height: $general-control-height - 20px;
        width: $general-control-height - 20px;
        border: 1px solid $general-icon-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        box-sizing: border-box;    


        &.checked {            
            opacity: 1;
            animation-name: background-color-blink;
            animation-timing-function: linear;
            animation-duration: 1s;

            @keyframes background-color-blink {
                0% { background-color: $general-white; }
                50% { background-color: $general-border-color; }
                100% { background-color: $general-white; }
            }

            .icon-circle {
                display: block;
                height: 100%;
                width: 100%;
                animation-name: icon-circle-showing;
                animation-timing-function: linear;
                animation-duration: 100ms;

                @keyframes icon-circle-showing {
                    0% { height: 0; width: 0; }
                    100% { height: 100%; width: 100%; }
                }

                path {
                    fill: $general-icon-color;
                }
            }
        }

        &.unchecked {
            .icon-circle {
                opacity: 0;
                transition: all 200ms;
            }
        }
    }

    .radio-button-caption {
        margin: 0 5px;        
    }
}
