@import "../-General/Styles/variables.scss";

.md-text {
    color: $general-text-color;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    margin: 2px 0;

    &.featured {
        color: $general-featured-text-color;
    }

    &.bold {
        font-weight: bold;
    }
    &.light {
        font-weight: lighter;
    }

    &.large {
        font-size: 18px;
    }
    &.medium {
        font-size: 15px;
    }
    &.small {
        font-size: 10px;
    }

    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    &.justify {
        text-align: justify;
    }

    &.vertical-centrer {
        margin: auto 0;
    }

    &.unselectable {
        @import "../-General/Styles/mixins.scss";

        @include unselectable;
    }
}
