@import "../-General/Styles/variables.scss";

.md-box {
    display: flex;
    box-sizing: border-box;
    /*---------------------------------------------------------------------------------*/
    &.featured {
        @import "../-General/Styles/variables.scss";
        background-color: $general-featured-background-color;

        &.bordered {
            border: 1px solid $general-featured-icon-color;
        }
    }
    /*---------------------------------------------------------------------------------*/
    &.bordered {
        border: 1px solid $general-base-border-color;
    }

    &.rounded {
        border-radius: 5px;
    }
    /*---------------------------------------------------------------------------------*/
    &.distribution-equal {
        & > * {
            flex-grow: 1;
        }
    }

    &.distribution-size {
        & > * {
            flex-grow: 0;
        }
    }

    &.distribution-division {
        & > * {
            flex-grow: 0;
        }
    }
    /*---------------------------------------------------------------------------------*/
    &.defualt-margin {
        @import '../-General/Styles/mixins.scss';
        @include default-margin;
    }

    &.defualt-padding {
        @import '../-General/Styles/mixins.scss';
        @include default-padding;
    }
    /*---------------------------------------------------------------------------------*/
}
