$general-control-height: 45px;
/*-----------------------------------------------------------------------------------------------*/
$general-default-margin: 6px;
$general-default-padding: 6px;

$general-tablet-default-margin: 4px;
$general-tablet-default-padding: 4px;

$general-mobile-default-margin: 4px;
$general-mobile-default-padding: 4px;
/*-----------------------------------------------------------------------------------------------*/
$general-border-radius: 5px;
$general-normal-font-size: 15px;
$general-large-font-size: 18px;
$general-small-font-size: 10px;
/*-----------------------------------------------------------------------------------------------*/
$general-mobile-max-width: 767px;
$general-tablet-min-width: 768px;
$general-tablet-max-width: 1024px;
/*-----------------------------------------------------------------------------------------------*/
$z-index-layer0: 0;
$z-index-layer1: 100;
$z-index-layer2: 200;
$z-index-layer3: 300;
$z-index-layer4: 400;
$z-index-layer5: 500;
$z-index-layer6: 600;
$z-index-layer7: 700;
/*-----------------------------------------------------------------------------------------------*/
$general-white: #fff;
$general-base-color: #fefefe;
$general-color-I: #768299;
$general-color-II: #e47e4f;

$general-base-background-color: $general-base-color;
$general-base-border-color: darken($general-base-color, 5%);

$general-background-color: lighten(desaturate($general-color-I, 10%), 60%);
$general-border-color: lighten($general-color-I, 35%);
$general-text-color: $general-color-I;
$general-icon-color: $general-color-I;
$general-place-holder: lighten(desaturate($general-color-I, 10%), 30%);
$general-disabled-color: lighten(desaturate($general-color-I, 10%), 30%);
$general-hover-color: darken(saturate($general-color-I, 10%), 5%);

$general-featured-background-color: lighten($general-color-II, 32%);
$general-featured-border-color: $general-color-II;
$general-featured-text-color: darken($general-color-II, 20%);
$general-featured-icon-color: $general-color-II;
$general-featured-place-holder: lighten(desaturate($general-color-II, 10%), 30%);
$general-featured-disabled-color: lighten(desaturate($general-color-II, 10%), 30%);
$general-featured-hover-color: lighten(saturate($general-color-II, 10%), 50%);